.container{
  display: flex;
  height: 100vh;
  width: 100vw;

  justify-content: center;
  align-items: center;

  flex-direction: column;
}
.content {
  height: 500px;
  width: 400px;

  border: 1px solid black;
  display: grid;
  grid-auto-rows: 25% 75%;
  
  background-color: black;

}
.content-display{
  width: 370px;
  height: 100px;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  font-size: 45px;

  margin: 10px;
  padding-inline-end: 5px;

  border: 1px solid black;
  background-color : #FFF;
}
.content-button {
  display: flex;
  width: 100%;
  height: 100%;


  flex-direction: column;
}
.buttonarea1{
  display: flex;
  height: 85%;
  width: 100%;

  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
    width: 90px;
    height: 60px;    

    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}
.buttonc {
  width: 190px;
  height: 60px;

  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
}